body {
  max-width: 85%;
  margin: 0 auto; /* Center the body horizontally */
  border: 2px solid blue;
}
.dashboard-container {
  min-height: 90vh;
}

.loader {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance-container {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.card {
  /* border: 2px solid red; */
  height: 13rem;
  align-content: center;
  width: 25rem;
  padding-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
}

.card.card-balance {
  background: rgb(25, 36, 0);
  background: linear-gradient(
    90deg,
    rgba(25, 36, 0, 1) 0%,
    rgba(52, 52, 201, 1) 0%,
    rgba(5, 100, 181, 1) 39%,
    rgba(0, 113, 255, 1) 79%,
    rgba(0, 99, 255, 1) 100%
  );

  color: white;

  h3 {
    margin-top: -0.5rem;
  }
}

/* ! CHARTS */

.charts-container {
  background-color: beige;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .chart {
    min-height: 20rem;

    div {
      min-width: 20rem;
    }
  }
}

.line-graph-container {
  border: 1px solid black;
  width: 60%;
}

.pie-chart-container {
  border: 1px solid black;
  width: 40%;
}

@media (width < 796px) {
  .balance-container {
    h3 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.8rem;
    }
  }

  .charts-container {
    flex-direction: column;
    align-items: center;
  }

  .line-graph-container {
    border: 1px solid black;
    width: 100%;
  }

  .pie-chart-container {
    border: 1px solid black;
    width: 60%;
  }
}

@media (width < 576px) {
  body {
    max-width: 100%;
  }

  .balance-container {
    flex-direction: column;

    .card {
      height: 9rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 0.3rem;
      width: 20rem;
      height: 4rem;
      margin: 0 auto;
      gap: 0.2rem;
    }

    h3 {
      font-size: 0.9rem;
      margin: 0;
    }

    h1 {
      font-size: 1.1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.9rem;
    }
  }

  .line-graph-container {
    min-height: 12rem !important;
    border: 2px solid red;
  }

  .pie-chart-container {
    width: 90%;
  }
}

@media (width < 390px) {
  .balance-container {
    .card {
      width: 15rem;
      gap: 0.2rem;
    }

    h3 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1rem;
    }

    button {
      padding: 0 0.4rem;
      font-size: 0.8rem;
    }
  }

  .pie-chart-container {
    width: 100%;
  }
}

@media (width < 340px) {
  .line-graph-container {
    display: none;
  }
}
